.task-column {
  border-radius: 15px;
  background-color: white;
  width: 21.5vw;
  text-align: center;
  height: auto;
  min-height: 150px; 
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.task-column.todo .task-column-title {
  background-color: #8a30e5;
  color: white;
  padding: 10px;
  margin: 0;
  border-radius: 15px 15px 0 0;
}

.task-column.in-progress .task-column-title {
  background-color: #ffc04f;
  color: black;
  padding: 10px;
  margin: 0;
  border-radius: 15px 15px 0 0;
}

.task-column.completed .task-column-title {
  background-color: #06c270;
  color: white;
  padding: 10px;
  margin: 0;
  border-radius: 15px 15px 0 0;
}

.task-column-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  padding: 20px 0;
  gap: 10px;
  flex-grow: 1; 
}

.no-tasks {
  color: grey;
  font-style: italic;
}