* {
  margin: 0;
  padding: 0;
}

.task-card {
  border: 2px solid #E3E3E3;
  border-radius: 15px;
  width: 80%;
  text-align: left;
  padding: 13px 13px;
  box-shadow: 1px 1px 10px rgba(228, 228, 228, 0.5);

  background-image: linear-gradient(to bottom, #000 50%, transparent 50%);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2px 60px;
}

.priority {
  padding: 5px 10px;
  border-radius: 5px;
  color: #333; 
  margin-bottom: 0.3rem;
}

.priority-low {
  color: #8A8A8A;
  background-color: #F0FFDD;
  width: 30px;
}

.priority-medium {
  color: #FF00B8;
  background-color: #FFECE1;
  width: 68px;
}

.priority-high {
  color: #FF5C00;
  background-color: #FFECE1;
  width: 38px;
}

.delete-task-btn {
  padding: 7px 9px;
  border: none;
  background-color: #ed5801;
  border-radius: 9px;
}

.delete-task-btn:hover{
  background-color: #893200;
  cursor: pointer;
  transition: 0.3s ease;
}

.delete-task-btn i{
  color: white;
  font-size: 15px;
}

.priority-deletebtn-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-status-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-status-div h3 {
  margin-top: 0.3rem;
}



.custom-select-button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-option {
  padding: 10px;
  cursor: pointer;
}

.custom-option:hover {
  background-color: #f0f0f0;
}



.default {
  background-color: #ddd; /* Customize default color */
}


.description{
  font-size: 12px;
  color: #787486;
  margin: 0 0 0.5rem 0;
}

hr{
  color: #E3E3E3;
}

.date{
  color: #828282;
  margin: 0.3rem 0 0 0;
}

.date span{
  margin: 0 0.5rem 0 0;
}

.move-buttons{
  display: flex;
  align-items: center  ;
  justify-content: space-between;
  margin: 0.7rem 0;
}

.move-buttons button{
  font-weight: bold;
  font-size: 30px;
  border: none;
  background: none;
}



.move-buttons button:hover{
  color: rgb(71, 71, 71);
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.popup-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000; 
}

.popup {
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001; 
  border-radius: 8px; 
  width: 400px; 
  max-width: 90%; 
}


.popup-content h2 {
  margin-bottom: 20px;
  font-size: 1rem;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
}

.popup-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-buttons .cancel-button {
  background-color: #b90202;
  color: #ffffff;
}

.cancel-button:hover{
  background-color: #6d0101;
}

.popup-buttons .confirm-button {
  background-color: #01dd64;
  color: white;
}

.confirm-button:hover{
  background-color: #029743;
}