* {
  margin: 0;
  padding: 0;
}

.task-card {
  border: 2px solid #e3e3e3;
  border-radius: 15px;
  width: 80%;
  text-align: left;
  padding: 13px 13px;
  box-shadow: 1px 1px 10px rgba(228, 228, 228, 0.5);
}

.todo{
  background-image: linear-gradient(to bottom, #8a30e5 50%, transparent 50%);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2px 100px;
}

.in-progress{
  background-image: linear-gradient(to bottom, #ffc04f 50%, transparent 50%);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2px 100px;
}

.completed{
  background-image: linear-gradient(to bottom, #06c270 50%, transparent 50%);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2px 100px;
}

.priority {
  padding: 5px 10px;
  border-radius: 5px;
  color: #333;
  margin-bottom: 0.3rem;
}

.priority-low {
  color: #8a8a8a;
  background-color: #f0ffdd;
  width: 30px;
}

.priority-medium {
  color: #ff00b8;
  background-color: #ffece1;
  width: 68px;
}

.priority-high {
  color: #ff5c00;
  background-color: #ffece1;
  width: 38px;
}

.delete-task-btn {
  padding: 7px 9px;
  border: none;
  background-color: #ed5801;
  border-radius: 9px;
}

.delete-task-btn:hover {
  background-color: #893200;
  cursor: pointer;
  transition: 0.3s ease;
}

.delete-task-btn i {
  color: white;
  font-size: 15px;
}

.priority-deletebtn-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-status-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-status-div h3 {
  margin-top: 0.3rem;
}

.custom-select-button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-option {
  padding: 10px;
  cursor: pointer;
}

.custom-option:hover {
  background-color: #f0f0f0;
}

.default {
  background-color: #ddd; /* Customize default color */
}

.description {
  font-size: 12px;
  color: #787486;
  margin: 0 0 0.5rem 0;
}

hr {
  color: #e3e3e3;
  height: 1px;
  background-color:#e3e3e3 ;
  border: none;
}

.date {
  color: #828282;
  margin: 0.3rem 0 0 0;
}

.date span {
  margin: 0 0.5rem 0 0;
}

.move-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.8rem 0 0 0;
}

.move-buttons button {
  font-weight: bold;
  font-size: 30px;
  border: none;
  background: none;
  color: black;
}

.move-buttons button:hover {
  color: rgb(71, 71, 71);
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
}

.popup-content h2 {
  margin-bottom: 20px;
  font-size: 1rem;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
}

.popup-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-buttons .cancel-button {
  background-color: #b90202;
  color: #ffffff;
}

.cancel-button:hover {
  background-color: #6d0101;
}

.popup-buttons .confirm-button {
  background-color: #01dd64;
  color: white;
}

.confirm-button:hover {
  background-color: #029743;
}

.title-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-section .edit-title-btn {
  padding: 7px 9px;
  border-radius: 7px;
  border: none;
  background-color: rgb(39, 138, 220);
}
.title-section .edit-title-btn .bi {
  color: white;
}

.title-section .edit-title-btn:hover {
  background-color: rgb(29, 115, 195);
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal container */
.modal-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 80%;
  max-width: 500px;
  z-index: 1001;
  position: relative;
}


/* Close button */
.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

/* Form styles */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form h3{
  margin-bottom: 10px;
}

.modal-form h3 i{
  color: #8a30e5;
  margin: 0 0.5rem;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-group textarea {
  resize: vertical;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.cancel-btn,
.save-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.cancel-btn {
  background: #f0f0f0;
  color: #333;
}

.save-btn {
  background: #8a30e5;
  color: #fff;
}



/* Container for the three-dotted icon button and dropdown menu */
.position-relative {
  position: relative;
}

/* Styling for the three-dotted icon button */
.btn-outline-secondary {
  border: none;
  color: #333;
  background-color: #f8f9fa;
}

.btn-outline-secondary:hover {
  cursor: pointer;
}

.btn-outline-secondary .bi-three-dots-vertical {
  font-size: 1.5rem;
}

.position-absolute {
  position: absolute;
  bottom: 25px; /* Position the menu below the button */
  left: 20px; /* Align to the right edge of the parent */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  z-index: 1000; 
}

.btn-group {
  display: flex;
  flex-direction: column;
  background-color: none;
  padding: 0;
}

.btn-group .btn {
  padding: 0.5rem 1rem;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btn-group .btn i {
  margin-right: 0.5rem;
}


.btn-danger {
  background-color: #dd3535;
  color: white;
  border-radius: 6px 6px 0 0;
  border: none;
}

.btn-primary {
  background-color: #1a71ce;
  color: white;
  border-radius: 0 0 6px 6px;
  border: none;
}

.btn-danger:hover {
  background-color: #9f0202;
  transition: 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  transition: 0.3s ease;
}


@media (max-width:480px) {
  .position-absolute {
    bottom: 35px; /* Position the menu below the button */
    left: 5px; /* Align to the right edge of the parent */
  }

  .popup {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    border-radius: 8px;
    width: 280px;
    max-width: 90%;
  }
}

